html {
  box-sizing: border-box;
}

.pics {
  background-color: yellow;
  min-height: 100vh;
  display: flex;
}

.pic {
  width: 100%;
  align-items: center;
  transition: flex 0.8s cubic-bezier(0.39,-0.42, 0.57, 1.25);
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
}

.openActive {
  flex: 5;
}

.pic1 { background-image: url("https:source.unsplash.com/-98y5HIFDs8/1500x1500") }
.pic2 { background-image: url('https://source.unsplash.com/UzHQOxVxqgw/1500x1500') }
.pic3 { background-image: url('https://source.unsplash.com/g_gwdpsCVAY/700x700') }
.pic4 { background-image: url('https://source.unsplash.com/cssvEZacHvQ/1500x1500') }
.pic5 { background-image: url('https://source.unsplash.com/Ygum7h8N4Wk/1500x1500') }